body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #020617, #020617, #0f172a);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(2, 6, 23, 0.9);
    border-bottom: 1px solid #1f2937;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #a855f7;
}

.nav-links span {
    margin-left: 20px;
    opacity: 0.8;
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.hero-card {
    background: rgba(17, 24, 39, 0.85);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 360px;
    box-shadow: 0 0 30px rgba(168, 85, 247, 0.3);
    backdrop-filter: blur(15px);
}

.hero-card h1 {
    margin-bottom: 10px;
}

.hero-card p {
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #020617;
    color: white;
}

/* BUTTONS */
.primary-btn {
    background: linear-gradient(135deg, #22c55e, #16a34a);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.secondary-btn {
    background: #22c55e;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

/* MAP */
#map {
    height: 55vh;
}

/* ROUTE PANEL */
.panel {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #020617;
}

.route-card {
    background: rgba(17, 24, 39, 0.9);
    padding: 20px;
    border-radius: 15px;
    width: 40%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.highlight {
    border: 2px solid #22c55e;
}

.safe {
    color: #22c55e;
    font-weight: bold;
}

.unsafe {
    color: #ef4444;
    font-weight: bold;
}

/* BADGE */
.badge {
    position: absolute;
    top: 100px;
    left: 20px;
    background: rgba(17, 24, 39, 0.9);
    padding: 15px;
    border-radius: 12px;
    display: none;
}

/* SOS */
.sos {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #ef4444;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255,0,0,0.7);
}

.popup {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: #111827;
    padding: 15px;
    border-radius: 10px;
    display: none;
}

